.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  display: block;
}

.image {
  object-position: center;
  transition: transform 0.3s ease;
}

.container:hover .image {
  transform: scale(1.05);
}

.aspect43 {
  aspect-ratio: 4/3;
}

.aspect169 {
  aspect-ratio: 16/9;
}

.aspect11 {
  aspect-ratio: 1/1;
}

.aspect32 {
  aspect-ratio: 3/2;
}

.aspect21 {
  aspect-ratio: 2/1;
} 